{{>layout/header}}

<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/"><img src="/images/movflix.png" width="150" height="30"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
            {{#userName}}
                <li class="nav-item"><a class="nav-link" href="/my-list" role="button"><i class="bi bi-bookmarks"></i>아카이브</a></li>
<!--                <li class="nav-item"><a class="nav-link" href="/dashboard" role="button"><i class="bi bi-bookmarks"></i>대시보드</a></li>-->
<!--                <li class="nav-item"><a class="nav-link" href="/recommend" role="button"><i class="bi bi-bookmarks"></i>추천영화</a></li>-->
            </ul>
                <form class="d-flex">
                    <a class="btn btn-outline-dark" href="/logout" role="button">
                        Logout
                    </a>
                </form>
            {{/userName}}
            {{^userName}}
                <form class="d-flex">
                    <a class="btn btn-outline-dark" href="/oauth2/authorization/google" role="button">
                        Login
                    </a>
                </form>
            {{/userName}}


        </div>
    </div>
</nav>
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">MOVFLIX</h1>

                <input type="text" id="keyword" autofocus>
                <span><i class="bi bi-x-circle" id="btn-reset"></i></span>
                <button type="button" class ="btn btn-light" id="btn-search">search!</button>

        </div>
    </div>
</header>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center" id="movie-list">





        </div>
    </div>
</section>


<script type="text/javascript">
    {{#userName}}
    var userId = 123;
    {{/userName}}
    {{^userName}}
    var userId = null;
    {{/userName}}
</script>



{{>layout/footer}}