{{>layout/header}}


<table class="table table-horizontal table-bordered">
    <thead class="thead-strong">
    <tr>
        <th>영화 제목</th>
        <th>이미지</th>
        <th>링크</th>
        <th>등록</th>
    </tr>
    </thead>
    <tbody id="tbody">
    {{#movies}}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    {{/movies}}
    </tbody>
</table>





</div>


{{>layout/footer}}